<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form id="selfcost_form" method="post">
          <fieldset>
            <legend class="h1">Eigenkosten eintragen</legend>
              <div class="row">
                  <div class="col-md-4">
                      <label for="select_dbperson">Person auswählen</label>
                      <select id="select_dbperson" class="form-control" name="person_id">
                      {{#db_persons}}
                          <option value="{{id_person}}" {{selected}}>{{vorname}} {{nachname}}</option>
                      {{/db_persons}}
                      </select>
                  </div>
                  <div class="col-md-4">
                      <label for="select_category">Kategorie auswählen</label>
                      <select id="select_category" class="form-control" name="person_id">
                      {{#db_categories}}
                      <option value="{{id_category}}" {{selected}}>{{name}}</option>
                      {{/db_categories}}
                      </select>
                  </div>
              </div>
            <div class="row">
            {{#persons}}
              <div class="col-md-6">
                <div id="1_person" class="amounts_wrapper">
                  <button id="1_add_button" class="add_button btn btn-lg btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <h2>{{name}}</h2>
                  <div id="1_amounts" class="amounts_container">
                    {{#amounts}}
                    <div class="amount form-group">
                      <div class="row">
                        <div class="col-xs-1">
                          <span class="h2">{{index}}</span>
                        </div>
                        <div class="col-xs-10">
                          <input class="amount_input form-control" required="" step="0.01"
                           name="amount[]" type="number" value="{{value}}"/>
                        </div>
                        <div class="col-xs-1">
                          <button class="amount_remove close"><span>&times;</span></button>
                        </div>
                      </div>
                    </div>
                  {{/amounts}}
                  </div>
                  <p class="amount_sum">Summe: <strong>{{getSum}}&#8364;</strong></p>
                </div>
              </div>
            {{/persons}}
            </div>
            <button id="sum_calc" class="btn btn-lg btn-primary pull-right" type="submit">
              Berechnen!
            </button>
          </fieldset>
        </form>
        <div id="sum_result" class="jumbotron text-center {{result.class}}"><p>{{result.text}}</p></div>
        <form id="selfcost_db_form">
            <fieldset>
                <legend>Betrag speichern</legend>
                <input type="hidden" value="selfcost" name="type"/>
                <input type="hidden" value="{{id_category}}" name="categoryID">
                {{#persons}}
                    <input type="hidden" name="sum" value="{{getSum}}">
                    <input type="hidden" name="personID" value="{{personId}}">
                {{/persons}}
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="date_select">Für den Monat</label>
                            <select id="date_select" class="form-control" name="date">
                                {{#lastMonths}}
                                <option value="{{value}}">{{displayString}}</option>
                                {{/lastMonths}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <button id="selfcost_save_button" class="btn btn-primary" type="submit" name="submit">
                                Speichern
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="db_result" class="jumbotron text-center {{dbResult.class}}">
            <p>{{dbResult.text}}</p>
        </div>
    </div>
  </div>
</div>
